body {
    background: white;
}
img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#descriptionc{
    text-align : center;
    margin-left: 21%;
    margin-right: 20%;
    margin-top: 1%;
    font-style: italic;
 }

#сlassific{
    margin-top: 1%;
}

#left_h2 {
    margin-left:25%;
    float: left;
}

#right_h2 {
    margin-right:25%;
    float: right;
}

#main_div {
    margin: 4% 20%;
    background: blue;
    height: 600px;
    padding: 1%;

}

#left_divs {
    padding: 1%;
    background: silver;
    height: 100%;
    width: 40%;
    float: left;
}

#right_divs {
    padding: 1%;
    background: silver;
    height: 100%;
    width: 40%;
    float: right;
}

.left_small{
    margin: 1%;
    background: red;
    height: 30%;
    width: 40%;
    float: left;
}
.right_small{
    margin: 1%;
    background: red;
    height: 30%;
    width: 40%;
    float: right;
}

.figures{
    color: black;
}

form{
    width: 150px;
    margin-left:25%;
    margin-top: 1%;
    float: left;
}

.square {
    margin-left:25%;
    float: left;



}

.shape{
    height: 50%;
    float: right;
    margin-right: 20%;
}