{% extends 'calculate/layout.html' %}
{% load static %}

{% block content %}
    <div>
        <h2 id="titele"> Трапеция </h2>
        <img id="calc_3" src="{% static 'calculate/img/calc3.png' %}" alt="Calc">
        <img id="mass" src="{% static 'calculate/img/masedge.png' %}" alt="Calc">
        <img class="shape" src="{% static 'calculate/img/trapezoid.png' %}" alt="Трапеция">
        <form id="form_3" method='post'>
            <button id="btn" class="btn btn-dark btn-lg" type="submit">Вычислить</button>
            <div id="field">
                {% csrf_token %}
                {{ fom.as_p }}
            </div>
        </form><br>
        <p class="out_square"> Диагональ равена {{diagonal}} </p>
        <p class="out_square"> Площадь равна {{area}} </p>
        <p class="out_square"> (side_y > side_x) </p>
    </div>

    <div>
         <a href="{% url 'calculate/home' %}" ><button id="btn_back" class="btn btn-dark btn-lg" type="submit">Выбрать другую фигуру</button></a>
    </div>
{% endblock %}
